*{
    font-family: 'Libre Franklin', sans-serif;
}

.carousel-custom img {
    opacity: .8;
}

.map {
    width: 100%; 
    height: 400px; 
    background: grey;
}

.panel {
    width: 600px;
}

.img-logo{
    width: 40%; 
    height: 100%;
}

.title-principal{
    text-align: center;
}

.btn-logout{
    margin: 1%;
}
