*{
    font-family: 'Libre Franklin', sans-serif;
}

.carousel-custom img {
    opacity: .8;
}

.map {
    width: 100%; 
    height: 400px; 
    background: grey;
}

.panel {
    width: 600px;
}

.img-logo{
    width: 38%; 
    height: 100%;
}

.title-principal{
    text-align: center;
}

.container-quadras{
    text-align: center;
    margin-top: 8%;
}

.nav-top{
    text-align: right;
}

<<<<<<< HEAD
li{
    margin: 2%;
    color: #343a40;
    list-style-type: none;
}
=======
>>>>>>> e334e72ecbbc04bfb141e308845414ef6abc2048
