* {
    font-family: 'Libre Franklin', sans-serif;
}

.carousel-custom img {
    opacity: .5;
}

.map {
    width: 100%; 
    height: 400px; 
    background: grey;
}

.panel {
    width: auto;
}

.img-logo {
    width: 38%; 
    height: 100%;
}

.title-principal {
    text-align: center;
}

.container-quadras {
    text-align: center;
    margin-top: 8%;
}

.nav-top {
    text-align: right;
}

.nav-item {
    margin: 2%;
    color: #343a40;
    list-style-type: none;
    width: 100%; 
}

.info-details {
    text-align: left;
}

.info-title {
    font-size: 1.1em;
    color: #2C65DA;
    font-weight: bold;
    padding-top: .5em;
}

.info-column {
    padding: 1em;
}

.bold-text {
    font-weight: bold;
    font-size: 1.5em;
}

.field-title {
    color: #2C65DA;
}

.li-favorites {
    list-style-type: none;
}

.footer-style {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.favorites-info {
    background-color: rgb(238, 238, 238);
}