html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

#map{
    width: 50%;
    height: 50%;
}

#geolocation{
    position: absolute;
    height: 20px;
    background-color: #1f262a;
    border-radius: 22px;
    color: #fff;
    padding: 6px;
    cursor: pointer;
}

#geolocation:hover{
    color:#1f262a;
    background-color: white;
    border: 1px solid #1f262a;
}

.active{
    color:#1f262a !important;
    background-color: white !important;
    border: 1px solid #1f262a !important;
}